<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="../Css/Register.css" />
    <title>Shop</title>
</head>

<body>

    <header class="header">
        <div class="logo_header">
            <a href="./index.html">
                <img  src="../Image/Logo_shop.png" alt="" />
            </a>
        </div>
        <div class="header_search">
            <input class="ip_search" type="text" name="ip_search" id="ip_search" placeholder="Tìm kiếm..." />
            <button type="button" class="btn_search">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <div class="header_user">
            <div class="header_accout">
                <a href="#">
                    <i class="fas fa-user"></i>
                    <span>Tài khoản</span>
                    <div class="account">
                        <a href="./Login.html">
                            <span>Đăng nhập</span>
                        </a>
                        <a href="./Register.html">
                            <span>Đăng ký</span>
                        </a>
                    </div>
                </a>
            </div>
            <div class="header_cart">
                <a href="Cart.html">
                    <div class="cart_icon">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                    <div class="cart_title"><b>Giỏ hàng</b> <span>(0)</span></div>
                </a>
                <div class="cart_info">
                    <div class="Cart_product_overflow">
                        <div class="Cart_product_flex">
                            <div class="cart_product_img">
                                <a href="#">
                                    <img src="../Image/Nike.jpg" height="100px" alt="" />
                                </a>
                            </div>
                            <div class="cart_product_info">
                                <a href="#">
                                    <span>AIR JORDAN 1 RETRO HIGH OG 'BRED TOE'</span>
                                </a>
                                <span>2.240.000 đ</span>
                                <div class="number_product">
                                    <button class="up">+</button>
                                    <button class="down">-</button>
                                    <input type="text" value="1" />
                                </div>
                            </div>

                            <div class="cart_product_delete">
                                <a href="#">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                        </div>

                        <div class="Cart_product_flex">
                            <div class="cart_product_img">
                                <a href="#">
                                    <img src="../Image/Nike.jpg" height="100px" alt="" />
                                </a>
                            </div>
                            <div class="cart_product_info">
                                <a href="#"><span>AIR JORDAN 1 RETRO HIGH OG 'BRED TOE'</span></a>
                                <span>2.240.000 đ</span>
                                <div class="number_product">
                                    <button class="up">+</button>
                                    <button class="down">-</button>
                                    <input type="text" value="1" />
                                </div>
                            </div>
                            <div class="cart_product_delete">
                                <a href="#">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="cart_product_total">
                        <span class="left">Tổng cộng</span>
                        <span class="right">2.240.000đ</span>
                    </div>
                    <div class="btn_submit_cart">
                        <a href="./Cart.html"><button class="btn_submit_cart_1"><span>Giỏ hàng</span></button></a>
                        <button class="btn_submit_cart_2"><span>Thanh toán</span></button>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <nav class="nav">
        <ul class="menu_product">
            <li class="sub_menu_cha">
                <a href="#">ALL</a>
                <ul class="sub_menu">
                    <li><a href="">NIKE</a></li>
                    <li><a href="">NIKE</a></li>
                    <li><a href="">NIKE</a></li>
                    <li><a href="">NIKE</a></li>
                </ul>
            </li>            
            <li class="sub_menu_cha">
                <a href="#">sale 50%</a>
                <ul class="sub_menu">
                    <li><a href="">NIKE</a></li>
                    <li><a href="">NIKE</a></li>
                    <li><a href="">NIKE</a></li>
                    <li><a href="">NIKE</a></li>
                </ul>
            </li>

            <li class="sub_menu_cha">
                <a href="#">nike</a>
                <ul class="sub_menu">
                    <li><a href="">NIKE</a></li>
                    <li><a href="">NIKE</a></li>
                    <li><a href="">NIKE</a></li>
                    <li><a href="">NIKE</a></li>
                </ul>
            </li>
            <li class="sub_menu_cha">
                <a href="#">adidas</a>
                <ul class="sub_menu">
                    <li><a href="">NIKE</a></li>
                    <li><a href="">NIKE</a></li>
                    <li><a href="">NIKE</a></li>
                    <li><a href="">NIKE</a></li>
                </ul>
            </li>
            <li class="sub_menu_cha">
                <a href="#">vans</a>
                <ul class="sub_menu">
                    <li><a href="">NIKE</a></li>
                    <li><a href="">NIKE</a></li>
                    <li><a href="">NIKE</a></li>
                    <li><a href="">NIKE</a></li>
                </ul>
            </li>
            <li class="sub_menu_cha">
                <a href="#">converse</a>
                <ul class="sub_menu">
                    <li><a href="">NIKE</a></li>
                    <li><a href="">NIKE</a></li>
                    <li><a href="">NIKE</a></li>
                    <li><a href="">NIKE</a></li>
                </ul>
            </li>
            <li class="sub_menu_cha">
                <a href="#">Hãng khác</a>
                <ul class="sub_menu">
                    <li><a href="">NIKE</a></li>
                    <li><a href="">NIKE</a></li>
                    <li><a href="">NIKE</a></li>
                    <li><a href="">NIKE</a></li>
                </ul>
            </li>
            <li class="sub_menu_cha">
                <a href="#">collab</a>
                <ul class="sub_menu">
                    <li><a href="">NIKE</a></li>
                    <li><a href="">NIKE</a></li>
                    <li><a href="">NIKE</a></li>
                    <li><a href="">NIKE</a></li>
                </ul>
            </li>
            <li class="sub_menu_cha">
                <a href="#">fashion</a>
                <ul class="sub_menu">
                    <li><a href="">NIKE</a></li>
                    <li><a href="">NIKE</a></li>
                    <li><a href="">NIKE</a></li>
                    <li><a href="">NIKE</a></li>
                </ul>
            </li>
            <li class="sub_menu_cha">
                <a href="#">phụ kiện</a>
                <ul class="sub_menu">
                    <li><a href="">NIKE</a></li>
                    <li><a href="">NIKE</a></li>
                    <li><a href="">NIKE</a></li>
                    <li><a href="">NIKE</a></li>
                </ul>
            </li>
            <li class="sub_menu_cha">
                <a href="#">Nhận thông báo sale</a>
                <ul class="sub_menu">
                    <li><a href="">NIKE</a></li>
                    <li><a href="">NIKE</a></li>
                    <li><a href="">NIKE</a></li>
                    <li><a href="">NIKE</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <section class="selection">
        <div class="selection_product" style="height: 20px;">
            <a href="./index.html">
                <i class="fas fa-home"></i>
                <span" style="padding: 0 5px; font-weight: 0;">Trang chủ</span>
            </a>
            <i class="fas fa-chevron-right" style="font-size: 13px; font-weight: normal; padding: 0 5px;"></i>
            <span style="font-weight: bold;">Đăng ký tài khoản</span>
        </div>
    </section>

    <main class="main">
        <h2>Đăng ký tài khoản</h2>
        <span>Nếu chưa có tài khoản vui lòng đăng ký tại đây</span>
        <div class="register">
            <h3>Họ<span>*</span></h3>
            <div class="form_field">
                <input class="form_input" type="text" id="email" placeholder=" " />
                <label class="form_label" for="email">Họ</label>
            </div>

            <h3>Tên<span>*</span></h3>
            <div class="form_field">
                <input class="form_input" type="text" id="email" placeholder=" " />
                <label class="form_label" for="email">Tên</label>
            </div>

            <h3>Email<span>*</span></h3>
            <div class="form_field">
                <input class="form_input" type="email" id="Email" placeholder=" " />
                <label class="form_label" for="Email">Email</label>
            </div>

            <h3>Mật khẩu<span>*</span></h3>
            <div class="form_field">
                <input class="form_input" type="password" id="email" placeholder=" " />
                <label class="form_label" for="email">Mật khẩu</label>
            </div>

            <h3>Xác nhận mật khẩu<span>*</span></h3>
            <div class="form_field">
                <input class="form_input" type="password" id="email" placeholder=" " />
                <label class="form_label" for="email">Xác nhận mật khẩu</label>
            </div>

            <h3>Địa chỉ<span>*</span></h3>
            <div class="form_field">
                <input class="form_input" type="text" id="email" placeholder=" " />
                <label class="form_label" for="email">Địa chỉ</label>
            </div>

            <div class="btn_register">
                <button type="button" class="btn_register_sm">
                    <span>Đăng ký</span>
                </button>
                <a href="./Login.html">Đăng nhập.</a>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="footer_left">
            <h3 class="footer_title">Liên hệ zalo: 0829392000</h3>
            <ul>
                <li>
                    <a href="">Địa chỉ: Mỹ Đình - Hà Nội</a>
                </li>
                <li>
                    <a href="">Điện thoại: 0829392000</a>
                </li>
            </ul>
        </div>
        <div class="footer_center">
            <h3 class="footer_title">Thông tin</h3>
            <ul>
                <li>
                    <i class="fas fa-chevron-right"></i>
                    <a href="">Trang chủ</a>
                </li>
                <li>
                    <i class="fas fa-chevron-right"></i>
                    <a href="">Giới thiệu</a>
                </li>
                <li>
                    <i class="fas fa-chevron-right"></i>
                    <a href="">Sản phẩm</a>
                </li>
                <li>
                    <i class="fas fa-chevron-right"></i>
                    <a href="">Khuyến mãi</a>
                </li>
                <li>
                    <i class="fas fa-chevron-right"></i>
                    <a href="">Tin tức</a>
                </li>
                <li>
                    <i class="fas fa-chevron-right"></i>
                    <a href="">Liên hệ</a>
                </li>
            </ul>
        </div>
        <div class="footer_right">
            <h3 class="footer_title">hướng dẫn & Chính sách bảo hành</h3>
            <ul>
                <li>
                    <i class="fas fa-chevron-right"></i><a href="">Hướng dẫn mua hàng</a>
                </li>
                <li>
                    <i class="fas fa-chevron-right"></i><a href="">Thẻ thành viên</a>
                </li>
                <li>
                    <i class="fas fa-chevron-right"></i><a href="">Chính sách đổi trả và hoàn tiền</a>
                </li>
                <li>
                    <i class="fas fa-chevron-right"></i><a href="">Chính sách vận chuyển</a>
                </li>
                <li>
                    <i class="fas fa-chevron-right"></i><a href="">Chính sách bảo mật</a>
                </li>
            </ul>
        </div>
    </footer>

    <div class="copyright_background">
        <div class="copyright">
            <div class="copyright_left">
                <p>&copy; Bản quyền thuộc về <span>LTĐ</span></p>
            </div>
            <div class="copyright_right">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-google-plus-g"></i></a>
                <a href=""><i class="fab fa-youtube"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>

    <div class="sale_info">
        <i class="fas fa-envelope"></i>
        <span>Đăng ký thông tin nhận thông tin khuyến mại</span>
    </div>
</body>

</html>